#speech {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 15px;
}

#direction {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 18px;
    background-color: lightblue;

}
#direction:hover{
    color: #a500c6;
    background-color: rgb(234, 247, 189);
}
#OED{
    color:cyan
}
#CH{
    color:crimson
}
#TI{
    color:limegreen
}
table { border: solid 3.5px rgb(51, 160, 199);
    border-collapse: separate;
    border-spacing: 1.5px;
    padding: 3px;
}
td, th {border: solid 1px ;
    text-align: center;}
tr:nth-child(even)
    {background-color: #bacdf9;}
